@import "../../styles/theme";

.navbar {
  .navbar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100vw;
    background-color: $color-card;
    box-sizing: border-box;

    &.border-bottom {
      border-bottom: 1rpx solid $color-border-light;
    }

    &.bottom-shadow {
      box-shadow: 0 6rpx 20rpx rgba(31, 41, 51, 0.05);
    }

    .navbar-inner {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      .left {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 50rpx;
        height: 100%;
        display: flex;
        align-items: center;
        padding-right: 20rpx;
        box-sizing: border-box;

        .text {
          font-size: 28rpx;
          font-weight: 500;
          color: $color-text-secondary;
        }
      }

      .title {
        height: 100%;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: $font-page-title;
        font-weight: 600;
        color: $color-text-primary;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}
