.navbar {
  .navbar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: #ffffff;

    &.border-bottom {
      border-bottom: 1px solid rgba(0, 0, 0, 0.04);
    }

    &.bottom-shadow {
      box-shadow: 0 6rpx 20rpx rgba(0, 0, 0, 0.04);
    }

    .navbar-inner {
      position: relative;

      .left {
        position: absolute;
        min-width: 50rpx;
        height: 100%;
        transform: translate(0%, -50%);
        display: flex;
        align-items: center;
        padding-right: 20rpx;
        box-sizing: border-box;

        .text {
          font-size: 28rpx;
          font-weight: 500;
          color: #666666;
        }
      }

      .title {
        height: 100%;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 32rpx;
        font-weight: 600;
        color: #222222;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}
